body {
    font-family: Arial, sans-serif;
}

footer {
	background-color: #00CCFF; 
    color: black; 
    text-align: center; 
    padding: 22px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    color: red;
    text-decoration: none;
    font-size: 17.5px;
}    