@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
		
body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
}
	
.header-top {
    background-color: #00CCFF; 
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
		
.logo {
    display: flex;
    align-items: center;
}
		
.logo-image {
    height: 40px; /* Chiều cao của logo */
    margin-right: 10px;
}
		
.system-name {
    font-size: 24px;
    font-weight: bold;
    color: #FF0000;
}
		
/* Thanh menu */
.menu-bar {
    background-color: #F0F8FF; 
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
	
.menu {
    list-style: none;
    display: flex;
}
		
.menu li {
    margin-right: 20px;
}
	
.menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
	
.menu li a:hover {
    color: #007BFF;
}
	
.logout a {
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
}
		
.logout a:hover {
    color: #FF4500; 
}